.header {
    position: relative;
    width: 100%;
    min-height: 686px;
    &_data {
        background-color: #002b40;
        min-height: 535px;
    }
    &_title {
        font-family: GothicA1;
        font-size: 68px;
        font-weight: normal;
        line-height: 1.06;
        text-align: left;
        color: #fff;
        padding: 200px 0 0 136px;
        span {
            color: #72bf00;
        }
    }
    &_subtitle {
        margin: 55px 0 0 184px;
        font-family: Amiri;
        font-size: 18px;
        font-weight: normal;
        color: #fff;
    }
    &_forrester {
        display: flex;
        align-items: center;
        min-height: 151px;
        background-color: #032736;
        &-wrapper   {
           padding-left: 136px;
        }
        &-title {
            font-family: Amiri;
            font-size: 28px;
            font-weight: normal;
            color: #fff;
            text-transform: uppercase;
            span {
                font-size: 10px;
                vertical-align: super;
            }
        }
        &-subtitle {
            font-family: GothicA1;
            font-size: 17px;
            font-weight: normal;
            line-height: 1.55;
            color: #fff;
            margin-top: 7px;
        }
        a {
            font-family: GothicA1;
            font-size: 12px;
            font-weight: normal;
            color: #fff;
            margin: auto 136px;
            text-decoration: none;
            &:hover {
                color: #72bf00;
            }
        }
    }
    &_watch {
        position: absolute;
        top: 88px;
        right: 0;
        width: 568px;
        height: 701px;
        background: url(../img/point.webp) center (center / cover) no-repeat;
        &-wrapper {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;  
            width: 75%;          
            bottom: 80px;
            left: 100px;
        }
        &-btn {
            width: 20%;
        }
        
        &-subtitle {
            font-family: GothicA1;
            font-size: 22px;
            font-weight: normal;
            color: #fff;
            margin-left: 30px;
            &_black {
                color: #032736;
            }
            
        }
        .btn {
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            background-color: #fff;
            &:hover {
                background: #032736;
            }
            &:focus {
                box-shadow: none;
            }
        }    
    }
    .triangle {
        padding: 0;
        position: relative;
        &:after {
            content: ''; 
            position: absolute; 
            left: 70%; 
            top: 50%;
            transform: translate(-50%, -50%);
            border: 8px solid transparent; 
            border-left: 8px solid #00755f;
        }
        
    }
    
}
